## Cho dữ liệu US_Unemployment_Oct2012.csv và us-states.json, thực hiện các yêu cầu sau:

1. Đọc dữ liệu US_Unemployment_Oct2012.csv, hiển thị thông tin chung của dữ liệu bao gồm : head, tail, info, describe

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('US_Unemployment_Oct2012.csv')

In [3]:
df.head()

  State  Unemployment
0    AL           7.1
1    AK           6.8
2    AZ           8.1
3    AR           7.2
4    CA          10.1

In [4]:
df.tail()

   State  Unemployment
45    VA           5.8
46    WA           7.8
47    WV           7.5
48    WI           6.8
49    WY           5.1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         50 non-null     object
 1   Unemployment  50 non-null     float64
dtypes: float64(1), object(1)
memory usage: 928.0+ bytes

In [6]:
df.describe()

       Unemployment
count     50.000000
mean       7.146000
std        1.665154
min        3.200000
25%        5.800000
50%        7.100000
75%        8.400000
max       10.300000

2. Tạo bản đồ thế giới có kiểu cartodbpositron với location([48, -102]) và zoom level (zoom_start=3) gợi ý như hình sau:

In [ ]:
!pip install folium

In [ ]:
import folium
from folium.plugins import MarkerCluster

In [ ]:
world_map = folium.Map(location=[48,-102], zoom_start=3, tiles="cartodbpositron")
marker_cluster = MarkerCluster().add_to(world_map)

In [ ]:
for i in range(len(df)):
    lat = 48
    long = -102
    radius=5
    popup_text = """State : {}<br>
                %of Unemployment: {}<br>"""
    popup_text = popup_text.format(df.iloc[i]['State'],
                               df.iloc[i]['Unemployment']
                               )
    folium.CircleMarker(location = [lat, long], radius=radius, popup= popup_text, fill=True).add_to(marker_cluster)
    
world_map

3. Tạo choropleth map theo ‘LUnemployment Rate (%)’ của từng bang theo gợi ý như hình sau: